# dependencies
node_modules
.pnp
.pnp.*

# testing
coverage
coverage.*

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem
typechain

# debug
*.log*

# local env files
.env
.env*.local

# vercel
.vercel

# hardhat
artifacts

# cache
cache
.*cache
